* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}

body {
    background-color: #DDD;
}

ul {
    list-style-type: none;
}

button.active {
    background-color: aqua;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 0 1rem;
}

.menu {
    display: flex;
    flex-direction: column;
    width: 17rem;
    background-color: #aaaaaa;
}

.content {
    display: flex;
    background-color: #999999;
    max-width: 600px;
}

.max-width-100 {
    max-width: 100%;
}

.flex-column {
    flex-direction: column;
}

.flex-column-reverse {
    flex-direction: column-reverse;
}

.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-wrap-nowrap {
    flex-wrap: nowrap;
}

.flex-wrap-wrap {
    flex-wrap: wrap;
}

.flex-wrap-wrap-reverse {
    flex-wrap: wrap-reverse;
}

.flex-justify-flex-start {
    justify-content: flex-start;
}

.flex-justify-flex-end {
    justify-content: flex-end;
}

.flex-justify-center {
    justify-content:center;
}
.flex-justify-space-between {
    justify-content:space-between;
}
.flex-justify-space-around {
    justify-content:space-around;
}
.flex-justify-space-evenly {
    justify-content:space-evenly;
}



.button-bar {
    display: block;
    height: 2.5rem;       
}

.button-bar input[type=button] {
    color: black;
}


.bordered-square {
    width: 15rem;
    height: 15rem;
    background-color: #00468b;
    margin: 1rem;
}